body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    /* Imagem de fundo */
    background-image: url('https://fluig.andra.com.br/volume/stream/Rmx1aWc=/P3Q9MSZ2b2w9RGVmYXVsdCZpZD0xNzk4JnZlcj0xMDAwJmZpbGU9bWF4cmVzZGVmYXVsdC5qcGcmY3JjPTExMjMxODkwMjUmc2l6ZT0wLjA0NTI2NCZ1SWQ9MjUmZlNJZD0xJnVTSWQ9MSZkPWZhbHNlJnRrbj0mcHVibGljVXJsPXRydWUmYXR0YWNoPWZhbHNl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* Fazendo a imagem de fundo ficar bem mais apagada */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Camada branca semi-transparente (80% opaco) */
    z-index: -1; /* Mantém a camada no fundo, atrás dos elementos */
}

/* Mantendo a centralização dos elementos */
.login-container, .site-content {
    display: none;
}

.login-container.active, .site-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    border: 2px solid #c71d23;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.input-field {
    border: 2px solid #c71d23;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-button {
    background-color: #c71d23;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #a8191d;
}
.site-content {
    border: 2px solid #c71d23;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
}


.search-box {
    border: 2px solid #c71d23;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.email-output {
    min-width: 200px;
    max-width: 100%;
    border: 2px solid #c71d23;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f0f0;
    overflow-wrap: break-word;
}

  .spinner {
            display: none; /* Oculto por padrão */
            border: 8px solid #f3f3f3; /* Cor de fundo */
            border-top: 8px solid #3498db; /* Cor do spinner */
            border-radius: 50%;
            width: 40px; /* Tamanho do spinner */
            height: 40px; /* Tamanho do spinner */
            animation: spin 1s linear infinite; /* Animação */
            margin: 10px auto; /* Centralização */
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
