body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    /* Imagem de fundo */
    background-image: url('https://fluig.andra.com.br/volume/stream/Rmx1aWc=/P3Q9MSZ2b2w9RGVmYXVsdCZpZD0xNzk4JnZlcj0xMDAwJmZpbGU9bWF4cmVzZGVmYXVsdC5qcGcmY3JjPTExMjMxODkwMjUmc2l6ZT0wLjA0NTI2NCZ1SWQ9MjUmZlNJZD0xJnVTSWQ9MSZkPWZhbHNlJnRrbj0mcHVibGljVXJsPXRydWUmYXR0YWNoPWZhbHNl.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* Fazendo a imagem de fundo ficar bem mais apagada */
    position: relative;
}




 .site-content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.input-field {
    border: 2px solid #c71d23;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}


.site-content {
    border: 2px solid #c71d23;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
}


.search-box {
    border: 2px solid #c71d23;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.email-output {
    min-width: 200px;
    max-width: 100%;
    border: 2px solid #c71d23;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f0f0;
    overflow-wrap: break-word;
}


.site-content{
    min-width: 300px;
    min-height: 300px;
    max-width: 90vw;
    max-height: 90vh;
}
@media (max-width: 600px) {
    .login-container, .site-content {
        width: 90%;
        padding: 15px;
    }
    .input-field, .search-box {
        width: 100%;
    }
}
